<!DOCTYPE html>
<html>
<body style="background-color:DodgerBlue;">
	<title>Sentimental analyse</title>

	<form method="POST" action="">
    	<center>
    		<h1>Sentiment analysis program </h1> <br>
    		<p>Welcome here you will be able to see if a sentence is either positive, negative or neutral</p>
    		Text : <input type = "text" name= "txt" /> <br>
    		<input type="hidden" name="form_type" value="submit_txt"/>
    		<input type = "submit", value="Submit">
    	</center>
	</form>
</body>
</html>